doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    form(action="/users" method="POST")
      label First Name
        input(type="text" name="firstName" value=firstName)
      button(type="submit") Submit
